@page "/Counter"
@using Microsoft.JSInterop

@inject IJSRuntime _jsRuntime

<h1>Counter!!</h1>

<p class="hoge">@_count</p>

<input @bind-value="_aiu" />

<button @onclick="OnClick">Click me</button>

<br/>

<button @onclick="Invoke">invoke</button>

<br />

<a href="/">戻る</a>

@code {
    public string _aiu = "0";
    private int _count;

    private void OnClick()
    {
        if (int.TryParse(_aiu, out var x) is false) x = 1;
        _count += x;
    }

    private async Task Invoke()
    {
        await _jsRuntime.InvokeVoidAsync("myAlert","Hello from C#.");
    }

}